package todo

import "fmt"

templ NavBar(id string) {
	<div hx-boost="true" class="flex justify-between py-8 px-8">
		<h1 class="text-2xl font-bold">Simple Todo</h1>
		<nav>
			<ul class="flex justify-end space-x-4 pr-8">
				<li><a href={ templ.SafeURL("/todos") }>ホーム</a></li>
				<li><a href={ templ.SafeURL(fmt.Sprintf("/user/%s", id)) }>アカウント</a></li>
				@Logout()
			</ul>
		</nav>
	</div>
}
