package todo

import (
	"github.com/Anttoam/golang-htmx-todos/views/base"
	"github.com/Anttoam/golang-htmx-todos/dto"
)

templ Page(res dto.FindAllTodoResponse) {
	<!DOCTYPE html>
	<html lang="ja" class="h-full" x-data="{ open: false }">
		@base.Header()
		<body id="page" class="bg-gray-200 p-4">
			@NavBar()
			<div class="px-8">
				@Create()
				@List(res)
			</div>
		</body>
	</html>
}
