package layout

import (
    "github.com/Anttoam/SimpleTodo/views/components"
)

templ Base(isLoggedIn bool, userID string) {
    <!DOCTYPE html>
    <html lang="ja">
        @Head()
        if isLoggedIn {
            @components.NavBar(userID)
        } else {
            @components.AuthNavBar()
        }
        <body id="page" class="bg-gray-200">
            { children... }
        </body>
    </html>
}